html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 12px;
}
body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
dl,
dd,
form,
input {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
}
img {
  border: none;
}
/* 谷歌浏览器、在记住密码后，通常会给用户密码输入框渲染上一个背景色 去除 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #eee inset;
}

/* 全局默认input 提示 */
input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #aab2bd;
  /* placeholder字体大小  */
  font-size: 12px;
}

* {
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
}

input {
  -webkit-user-select: text;
  /*webkit浏览器*/
  -khtml-user-select: text;
  /*早期浏览器*/
  -moz-user-select: text;
  /*火狐*/
  -ms-user-select: text;
  /*IE10*/
  user-select: text;
}

textarea {
  -webkit-user-select: auto;
  /*webkit浏览器*/
}

/* 修改默认滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* background-color: #080e07; */
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* background-color: #182915; */
}

.el-table--enable-row-transition .el-table__body td.el-table__cell {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.el-table--border,
.el-table--group {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.el-table__body tr.current-row > td,
.el-table__body tr.hover-row > td {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.el-table th,
.el-table,
.el-table th,
.el-table tr,
.el-table__fixed-footer-wrapper tbody td,
.el-table__footer-wrapper tbody td,
.el-table__header-wrapper tbody td {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #fff;
  border-color: #999;
}
.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.el-dialog {
  border-radius: 6px !important;
}
.el-dialog__header {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1) !important;
  border-bottom: none !important;
}
.el-dialog__title {
  font-size: 14px !important;
  color: #000000 !important;
}
.el-dialog__body {
  border-radius: 6px !important;
  width: 100% !important;
  height: 100% !important;
  padding: 10px !important;
  box-sizing: border-box !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
